<div class="row">
  <div class="col-md-9">
    <!-- Main -->
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar, class: "img-responsive" %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %>
      </div>
      <div class="col-md-9">
        <h2><%= @user.username %></h2>
        <%= simple_format @user.bio %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <!-- Sidebar -->
    <h4>Following</h4>
    <ul class="list-unstyled">
      <% if @user.followees(User).count > 0 %>
        <% @user.followees(User).each do |user| %>
          <li><%= link_to user.username, user %></li>
        <% end %>
      <% else %>
        <p>
          They ain't following no body
        </p>
      <% end %>
    </ul>
    <h4>Followers</h4>
    <ul class="list-unstyled">
      <% @user.followers(User).each do |user| %>
        <li><%= link_to user.username, user %></li>
      <% end %>
    </ul>
  </div>
</div>
