<!DOCTYPE html>
<html>
  <head>
    <title>Chirpy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.svg", class: "img-responsive" %>
      <% end %>
      <!-- <%= link_to "Chirpy", root_path, class: "navbar-brand" %> -->
      <!-- <a class="navbar-brand" href="#">Chirpy</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Users", users_path %></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="navbar-right">
        <% if current_user %>
          <%= link_to "Chirp!", new_chirp_path, class: "btn btn-success" %>
          <%= link_to "Logout!", logout_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Login!", login_path, class: "btn btn-primary" %>
          <%= link_to "Signup!", new_user_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |klass, message| %>
          <div class="alert alert-<%= klass %>" role="alert">
            <p>
              <%= message %>
            </p>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <% @popular_users.each do |user| %>
          <div class="col-md-3">
            <%= link_to user do %>
              <%= image_tag user.avatar, class: "img-responsive" %>
              <h6><%= user.username %></h6>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
