<!DOCTYPE html>
<html>
  <head>
    <title>Chirpy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.svg", class: "img-responsive" %>
      <% end %>
      <!-- <%= link_to "Chirpy", root_path, class: "navbar-brand" %> -->
      <!-- <a class="navbar-brand" href="#">Chirpy</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Users", users_path %></li>
        <li><a href="#">About</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Search">
          <i class="glyphicon glyphicon-search form-control-feedback"></i>

        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
