<div class="media">
  <div class="media-left">
    <%= link_to chirp.user do %>
      <%= image_tag chirp.user.avatar, class: "media-object img-circle" %>
    <% end %>
  </div>
  <div class="media-body">
    <%= simple_format chirp.body %>
    <!-- <small>Chirped by <%= chirp.user.username %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", controller: "chirps", action: "show", id: chirp.id %></small> -->
    <!-- <small>Chirped by <%= chirp.user.username %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", "/chirps/#{chirp.id}" %></small> -->
    <!-- <small>Chirped by <%= chirp.user.username %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", chirp_path(id: chirp.id) %></small> -->
    <!-- <small>Chirped by <%= chirp.user.username %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", chirp_path(chirp.id) %></small> -->
    <!-- <small>Chirped by <%= chirp.user.username %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", chirp_path(chirp) %></small> -->
    <strong>Chirped by <%= link_to chirp.user.username, chirp.user, class: "btn btn-default" %> <%= link_to "#{time_ago_in_words(chirp.created_at)} ago", chirp %>
      <% if chirp.is_owner? current_user %>
        <%= button_to "EXTERMINATE!!", chirp, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </strong>
  </div>
</div>
